$mainColor: #2c2f3c;
$backgroundColor: #fff;
$buttonColor: #699900;
$underlineColor: #14a0c7;
$gradientLeftColor: #699900;
$gradientRightColor:  #14a0c7;
$titleColor : #2c2f3c;
$white : #fff;
$textSecondary: #c0c3ce;

$headerImage: url(../img/m-h-day.jpg);

$fontSecondary: 'Hind', sans-serif;