$mainColor: #3b3f50;
$backgroundColor: #21232e;
$buttonColor: #e3ac00;
$gradientLeftColor: #e3ac00;
$gradientRightColor:  #922b53;
$underlineColor: #ff4e33;
$titleColor : #fff;
$white : #fff;
$textSecondary: #d1d1d1;

$headerImage: url(../img/m-h-night.jpg);

$fontSecondary: 'Fresca', sans-serif;